<section class="new-post-section">
</section>

  <section>
    <ul class="post-list">
      {{#each posts as |post|}}
        <li>
          <p class="post-title">{{post.title}}</p>
          <p class="post-content">{{post.content}}</p>
          <p> By: {{post.user.username}} on {{post.createdAt}}</p>
          <a href="/dashboard/edit/{{post.id}}" class="editlink">edit post</a>
        </li>
      {{/each}}
    </ul>
  </section>


<form id="makePost"> 
    <input id="title"></input>
    <textarea id="content"></textarea>
    <button>Create Post</button>
</form>

<script src="/js/createpost.js"></script>


