{{#each posts}}
  <div class="post-box">
    <a href ='/viewpost/{{id}}'><p class="post-title">{{title}}</p></a>
    <p class="post-content">{{content}}</p>
    <p class="post-meta">By: {{user.username}} on {{format_time date}}</p>
  </div>
{{/each}}