
<section>
<div class="post-box">
    <p class="post-title">{{post.title}}</p>
    <p class="post-content">{{post.content}}</p>
    <p class="post-meta">By: {{post.user.username}} on {{format_time post.date}}</p>
</div>

{{#if loggedIn}}
<form id="comment-form"> 
    <textarea post="{{post.id}}"></textarea>
    <button>Add Comment</button>
</form>
{{/if}}

</section>

<script src="/js/comment.js"></script>
